body {
    position: relative;
    overflow: hidden;
}

#mode-indicator-div {
    display: none;
    position: absolute;
}

#tooltip-div {
    position: absolute;
    background-color: white;
    min-width: 60px;
    max-width: 300px;
    padding: 5px;
    padding-top: 10px;

    font: 12px sans-serif;
    box-shadow: 0px 0px 5px;
    border: 0px;
    border-radius: 2px;
    pointer-events: none;
    display: none;
}

#input-box {
    position: absolute;
    top: -100;
    left: -100;
    background: white;
    border: 1 solid black;
    cursor: default;
    caret-color: black;
    font-family: "Times New Roman", Times, serif;
    font-size: 12pt;
    overflow: hidden;
    resize: none;
}

#color-picker-div {
    position: absolute;
    background-color: whitesmoke;
    box-shadow: 0 2px 6px #777;
}

#color-picker-input {
    color: white;
    text-shadow: 0.07em 0 black, 0 0.07em black, -0.07em 0 black, 0 -0.07em black;
}

#link-button-div {
    position: absolute;
}

.canvas-button {
    max-height: 30px;
    object-fit: cover;
}

.shared-button {
    max-width: 35px;
}

.drawer-button {
    max-height: 30px;
}